BuildConfig.java

# Gradle
.gradle
/local.properties

# IntelliJ
out/

documentation

/build
build/
/captures
.externalNativeBuild
services-geojson/bin/
services-turf/bin/

# Idea
.idea
*.iml
classes

obj

#MacOS
.DS_Store
/.java-version
