name: release

on:
  workflow_dispatch:
  push:
    tags:
      - v* 
    paths-ignore:      
      - ".github/**"      
      - "README.md"
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maplibre/android-ndk-r21b
    steps:

      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Ensure source code revision
        run: scripts/ensure-code-revision.sh        
        shell: bash

      - name: Build config
        run: make build-config

      - name: Build libraries
        run: make build-release

      - name: Build command line interface
        run: make build-cli   

      - name: Check Java code style
        run: make checkstyle
      
      - name: Run unit-test for all modules
        run: make test

      - name: Prepare MavenCentral release
        env:
          GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}
        run: |
          echo "${GPG_KEY_CONTENTS}" | base64 -d > signing-key.gpg
        shell: bash

      - name: Publish to MavenCentral
        run: make publish
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}         
